h4 {
  font-size: 1rem;
  margin-left: 20px;
  font-weight: 600;
}
span {
  display: block;
}

ion-button {
  margin: 20px;
  width: 20%;
}

ion-list {
  width: 40%;
  background-color: transparent;
}